*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/app/Models/*

# Excepto este archivo específico
!app/Models/Accion.php
!app/Models/Comentarios.php
!app/Models/Ejes.php
!app/Models/Indicadores.php
!app/Models/PersonalAccessToken.php
!app/Models/Plantillas.php
!app/Models/Recursos.php
!app/Models/Rol.php
!app/Models/User.php
!app/Models/Alumnos.php
!app/Models/Periodos.php
!app/Models/Profesores.php
!app/Models/ProgramaEducativo.php


